@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    box-sizing: border-box;
}
h1,h2,h3{
    color: #333;
}
p{
    color: #70747a;
}
/* nav */
.nav-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}
nav{
    position: relative;
}
.logo{
    width: 50px;
    margin-top: 15px;
}
.nav-itens{
    position: absolute;
    right: 0px;
    height: 80px;
    line-height: 80px;
    margin: 0px;
    display: inline-block;
}
.nav-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.nav-itens a {
    color: white;
    text-decoration: none;
}
.nav-itens a:hover{
    
    color: #70747a;
}
.default-btn{
    padding: 15px 20px;
    background-color:rgb(3, 109, 3) ;
}
.nav-itens .default-btn:hover{
    background-color: green;
    color: white;
}

/* main-banner */

.main-banner{
    background-image: url(../img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}
.main-banner h1, .main-banner p {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px 3px  black;
}
.main-banner h1{
    font-size: 60px;
}
.main-banner p{
    font-size: 28px;
}

/* service-container */

.service-container{
    padding: 5rem 0;
}
.service-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.service-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.fas{
    font-size: 65px;
    margin-bottom: 15px;
}
.fa-shield-alt{
    color: green;
}
.fa-rocket{
    color: red;
}
.fa-comments{
    color: rgb(204, 174, 6);
}
.service-container h3{
    margin-bottom: 5px;
}
.service-container p{
    line-height: 24px;
}

/* planos e preços */

.preço-container{
    padding-bottom: 5rem;
    text-align: center;
}
.preço-container h2{
    font-size: 36px;
}
.preço-container p{
    font-size: 20px;
}
.planos-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}
.planos{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}
.planos ul{
    padding: 0;
}
.planos li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}
.planos .nome-plano{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}
.planos .preço{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0;
    background-color: #202b34;
    color: #fff;
}
.planos .plano-btn{
    background-color: #2cc762;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* domimio */

.dominio-container{
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}
.dominio-container h2{
    color: #fff;
    font-size: 32px;
    padding-bottom: 15px;
}
.dominio-container p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}
.dominio-container input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}
.dominio-container input[type=text]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}
.dominio-container input[type=submit]{
    background-color: #2cc762;
    padding: 15px 30px;
    cursor: pointer;
}

/* RESPONSIVIDADE */
/* LAPTOPS A PARTIR DE 1100 */

@media (max-width: 1100px){
    .planos-container{
        width: 95%;
    }
    .planos{
        margin: 0 5px;
    }
}

/* TABLET 900PX */
@media(max-width: 900px){
    .main-banner p{
        padding: 0 6rem;
    }
}

/* CELULAR */
@media(max-width: 576px){
    .nav-itens{
        font-size: 12px;
        margin-left: 10px;
    }
    .main-banner p{
        padding: 0 2rem;
    }
    .service-container ul{
        flex-direction: column;
    }
    .planos-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .planos{
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .preço-container p{
        width: 95%;   
    }
}